.caixa-filho {
    /*border-color: black;
    border-style: solid;
    border-width: 1px; */
    border: black solid 1px ; /* cofiguração de borda da caixa filho*/
    width: 100px; /*largura da caixa*/
    height: 100px; /*altura da caixa*/
    text-align: center; /*centralizar o testo dentro da caixa*/
    border-radius: 15px; /*Borda arredondada*/

}   

.caixa-pai div:nth-child(2).caixa-filho  { 
    
    background-color: beige;
    /*colocar cores em cada caixa filho*/
}

.caixa-pai div:nth-child(3).caixa-filho { 

    background-color: gray;
}

.caixa-pai div:nth-child(4).caixa-filho { 

    background-color: pink;
}


#display-flex .caixa-pai {

    display: flex;
    background-color: rgb(235, 220, 202);


}
#jc-center .caixa-pai {

    justify-content: center;
}

#jc-space-around .caixa-pai  {

    justify-content: space-around;

}

#jc-space-between .caixa-pai {

    justify-content: space-between;

}

#jc-space-evenly .caixa-pai{

    justify-content: space-evenly;

}


.caixa-pai {
    display:flex;
    background-color: rgb(235, 220, 202);
   /* margin: 40px ; /* espaçamento da borda pra caixa lateral*/

    padding: 40px 20px 20px 20px  /* espacamento interno entre caixa mestre e caixa filho*/
    /*shortrand para o padding-top padding-right, padding-b0tton, padding-left */
}

.caixa-pai  > p {
    position:absolute;
    margin-top: -30px;
    left: 25px;
    
}
.property-explanation {


}

